:root {
	margin-left: 20px;
	margin-right: 20px;
	font-family: ui-rounded;
}

h1 {
	font: -apple-system-title4;
	font-family: ui-rounded;
	text-align: center;
}

a {
	font-size: 3em;
	padding: 0.2em;
	display: inline-block;
	vertical-align:middle;
}

@media 	(prefers-color-scheme: dark) {
:root {
	background: #1E1E1E;
	color: white;
}

.github {
	fill: white;
}
}